
.footer {
  height: 77px;
  padding-top: 9px;
  background: #4b73b5;
  margin-top: -50px;
  line-height: 0.5;
}

.footer__left,
.footer__center,
.footer__right {
   float: left;
    
}

.footer__left-txt {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	padding-left: 20px;
}

.footer__center{
	padding-left: 200px;
	padding-right: 250px;
	padding-bottom: 20px;
	
}
.socials__title {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	
}
.socials__item {
	display: inline-block;
	
}