.footer__wrap {
	font-size: 0px;
	
}

.footer {
	background: #4b73b5; 
	min-height: 77px; 
	margin-top: -77px; 
					
}

.footer__info {
	float: left;
	width: calc(100% / 3);
			
}


.footer__info-txt {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 0.4;
	
}
	
.socials__title {
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	
}
.socials__item {
	display: inline-block;
	margin-left: 20px;
	
	
}

.socials__link {
	width: 18px;
	height: 18px;
	background-color: azure;
}