.header__left,
.header__right {
  float: left;
  width: 50%;
}

.header__right {
  text-align: right;
}


.header {
  height: 77px;
  background: #4b73b5;
  position: relative;
 /* padding-top: 12px;
  padding-bottom: 6px;
  margin-bottom: 33px;*/
}

.logo,
.contacts {
  display: inline-block;
   
}
.logo {
  padding-left: 10px;
  padding-top: 20px;
}
.contacts {
  padding-right: 10px;
  padding-top: 8px;
   
}

.contacts__phone {
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  
}

.time__work {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
  font-weight: bold;
}






