.header {
	background: #4b73b5;
	min-height: 77px;
	margin-bottom: 10px;
 
}

.header__info {
	float: left;
	width: calc(100% / 2);
	padding-top: 20px;

}

.header__info--right {
	text-align: right;
}

.contacts {
	display: inline-block; 
	vertical-align: top; 
   
}

.contacts__phone {
	font-weight: bold;
	font-size: 21px;
	color: #fff;
	text-decoration: none;
  
}

.time__work {
	color: rgba(255, 255, 255, .7);
	font-size: 14px;
	font-weight: bold;
}




