.page-content__img-wrapper {
  float: left;
  margin-bottom: 15px;

}

.page-content__img-wrapper {
  height: 292px;
  background: url('../../img_main/photo.png') no-repeat;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 5%;
    
}

.section__title {
	color: #221f1f;
	font-size: 49px;
	font-weight: 700;
	width: 55%;
	transform: translate(25%, -5%);
	top: 50%;
	left: 50%;
	margin-bottom: 50px;
	
}

.pagination__title {
	width: 15%;
	float: left;
	margin-left: 35%;
	
	
}

.pagination__list {
	width: 50%;
	float: right;
	font-size: 14px;
	font-weight: 300;
		
}

.pagination__list-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  color: #656464;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 4px;
  
}

.pagination__list-item:hover {
	color: #000;

}

