.page-content__img { 
	display: inline-block;
	margin-left: 150px;
	margin-top: -145px;
	
}

.section__title {
	color: #221f1f;
	font-size: 49px;
	font-weight: 700;
		
}
.page-content__section {
	width: 950px; /* Ширина элемента в пикселах */
	padding: 10px 0px 10px 120px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    /*background: yellow; /* Цвет фона */
	
}

.tariff {
	width: 250px;
	height: 400px;
	float: left;
	overflow: hidden;
	box-sizing: border-box; /* есть подключение в base.css, уточнить*/ 
	padding: 10px 10px 10px 50px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    /*background: green; /* Цвет фона */
		
}


.tariff__img-wrapper {
	width: 68px;
	height: 68px;
	background-color: #4b73b5;
	border-radius: 50%;
	text-align: center;
	margin-left: 60px;
	
}

.tariff__img{
	padding: 18px;
	
	
}

.tariff__title {
	color: #212121;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	
}

.tariff__description,
.tariff__list-item {
	color: #221f1f;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.tariff__list {
  list-style: disc;
  
}


.news {
	width: 950px;
	height: 250px;
	color: #221f1f;
	font-size: 21px; 
	font-weight: 400;
	line-height: 1.5;
	border-bottom: 2px solid  #f5f5f5;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0px 0px 0px 0px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
	/*background: green;*/
	
}	

.news__img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	float: left;
	clear: left;
	margin-right: 30px;
	margin-top: 60px;
	overflow: hidden;
}

.news__date {
	font-size: 14px; 
	font-weight: 400;
	
}

.news__title {
	font-size: 21px; 
	font-weight: 700;
		
}

.pagination {
  text-align: center;
}

.pagination__list-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #656464;
  margin-right: 18px;
}






