.page-content__section{
  margin-left: 175px;
  	
}

.page-content__img-wrapper {
  float: left;
  margin-bottom: 15px;

}

.page-content__img-wrapper {
  height: 292px;
  background: url('/img_main/photo.png') no-repeat;
  width: 85%;
  margin-left: 5%;

}

.section__title {
	color: #221f1f;
	font-size: 49px;
	font-weight: 700;
	margin-bottom: 60px;
		
}

.pagination {
  text-align: center;
    
}

.pagination__list-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #656464;
  text-transform: uppercase;
  text-decoration: none;
   
}

.pagination__list-item:hover {
	color: #000;

}
