.navbar {
	width: 150px;
	display: inline-block;
    margin-top: 33px;
    margin-left: 44px;	
}

.navbar a {
	display: inline-block;
	
	
}

.navbar img {
	display: inline-block;
	height: 12px;
	line-height: 12px;
}

.navbar p {
	display: inline-block;
	
}

.link {
	text-decoration: none;		
	margin-right: 0px;
	padding: 0px;
	
}

.navbar__list-text {
	color: #4b73b5;
	font-size: 12px;
	font-weight: bold;
		
}



