.aside {
	float: left;
	width: 10%;
	padding-top: 35px;
}

.aside__left-list__item {
	margin-bottom: 31px;

}

.link {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;	
	color: #4b73b5;
	display: block;
	text-transform: uppercase;
}

.link:hover {
	color: #000;

}


.link:before {
	content:"";
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;

}

.link--main { 
	background: url('/img_main/icon/main_icon.png') left center no-repeat;
	
}

.link--comment {
	background: url('/img_main/icon/feed_icon.png') left center no-repeat;

}

.link--team {
	background: url('/img_main/icon/team_icon.png') left center no-repeat;

}
