
.breadcrumbs {
  margin-bottom: 30px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  color: #979696;
  opacity: .8;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item-link {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #6385d0;
}

.breadcrumbs__item-link_active {
  color: #221f1f;
  opacity: .8;
  text-decoration: none;
}

.breadcrumbs__item-link_green {
  color: green;
}