@font-face {
	font-family: 'roboto-slab';
	src: url('/fonts_main/robotoslab-bold-webfont.woff2') format('woff2'),
		 url('/fonts_main/robotoslab-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
  }
  
  @font-face {
	font-family: 'roboto-slab';
	src: url('/fonts_main/robotoslab-regular-webfont.woff2') format('woff2'),
		 url('/fonts_main/robotoslab-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
	
  }
  
  @font-face {
	font-family: 'roboto-slab';
	src: url('/fonts_main/roboto-italic-webfont.woff2') format('woff2'),
		 url('/fonts_main/roboto-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: fallback;
  }

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: "roboto-slab", Arial, Helvetica, sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: antialiased;
}
.wrapper {
	/*min-width: 800px;
	max-width: 1400px;*/
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	font-size: 16px;
	height: 150px;
	background: #4b73b5;
}

.logo_header {
	width: 120px;
	height: 36px;
	
}

.contacts {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 54px;
	text-decoration: underline;
}

.contact_phone{
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 54px;
	/* text-decoration: underline; */

}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 77px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}
.main_page_title {
	/* width: 180px; */
	/* height: 47px; */
	color: #221f1f;
	font-size: 49px;
	font-weight: 700;
	line-height: 38px;
}

.logo_offer_wrapper {
	width: 68px;
	height: 68px;
	background: #4b73b5;
	border-radius: 50% ;
}

.level_offer {
	color: #212121;
	font-size: 11px;
	font-weight: 700;
}

.description_wrapper {
	/* width: 185px; */
	/* height: 100px; */
	color: #221f1f;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

span {
	color: #202020;
	font-size: 28px;
	line-height: 182.3px;
}

.cost_offer {
	color: #212121;
	font-size: 54px;
	font-weight: 400;
}

.block_news {
	color: #221f1f;
	font-size: 21px; 
	font-weight: 400;
	line-height: 1.5;
}	
.block_news time{
	font-size: 14px; 
	font-weight: 400;
	
}
.block_news p{
	font-weight: 700;
	
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	color: #4b73b5;
	font-size: 12px;
	font-weight: 700;
	line-height: 54px;
	float: left; 
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #ffffff;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -77px auto 0;
	/*min-width: 800px;
	max-width: 1400px;*/
	height: 77px;
	background:#4b73b5;
	position: relative;
}