.reservation {
	/* background-color: #4bb56b; */
	background-image: url('../../img_comment/cta.png');
	padding: 45px 0;
	text-align: center;
		
	
}

.reservation__contact {	
	font-size: 18px;
	font-weight: 300;
	color: white;
	line-height: 1.5;
	display: inline-block;
	width: 60%;
	text-align: left;

}

.reservation__link {
	font-size: 18px;
	font-weight: 700;
	color: white;

}

.reservation__phone {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	
}




